@font-face {
    font-family: Flexo;
    src: local('Flexo'), url('../fonts/Flexo-Regular.woff2') format('woff2'), url('../fonts/Flexo-Regular.woff') format('woff'), url('Flexo-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: Flexo, sans-serif;
}

.topo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topo .logo {
    width: 400px;
}

.container-form {
    max-width: 1250px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.container-form input {
    width: 92%;
    height: 60px;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 5px 0 0 5px;
    border: none;
    background-color: #ffffff;
    outline: none;
}

.container-form button {
    width: 8%;
    padding: 10px;
    height: 60px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #ee6b2f;
    cursor: pointer;
}

#pokemons, .pokemon {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 35px;
}

.card {
    background: #ee3241;
    width: 20%;
    padding: 35px;
    border-radius: 15px;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0 2% 2% 15px;
    justify-content: center;
    height: 386px;
}

.card .card-image {
    background: rgb(255, 253, 244);
    border-radius: 50%;
    margin: 10px auto;
    width: 130px;
    height: 200px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-image img {
    width: 90px;
    height: 90px;
}

.card-content {
    width: 100%;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
}

.id {
    margin-bottom: 1rem;
    display: block;
}

.name {
    margin-bottom: 2rem;
}

.peso {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 15px;
}

.altura {
    display: inline-block;
    margin-bottom: 15px;
}